<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rekomendasi Transaksi</title>
</head>
<body>
    <h1>Masukkan Transaksi</h1>
    <input type="text" id="transaksi" placeholder="Contoh: A,B,C">
    <button onclick="getRekomendasi()">Cari Rekomendasi</button>

    <div id="result"></div>
    <script>
        async function getRekomendasi() {
            const transaksi = document.getElementById('transaksi').value.split(',');
            const response = await fetch('http://127.0.0.1:8000/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ transaksi: ['A', 'B'] })
            });            

            const data = await response.json();
            const resultDiv = document.getElementById('result');
            if (data.rekomendasi) {
                resultDiv.innerHTML = `Rekomendasi: <br>${JSON.stringify(data.rekomendasi)}`;
            } else if (data.error) {
                resultDiv.innerHTML = `Error: ${data.error}`;
            } else {
                resultDiv.innerHTML = `Message: ${data.message}`;
            }
        }
    </script>
</body>
</html>
